header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //height: 140px;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #071634;
  > div {
    max-width: 1620px;
    margin: 0 auto;
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #071634;
      padding: 16.5px 75px;
      border-radius: 0 0 50px 50px;
      .header-top-left {
        ul {
          display: flex;
          gap: 0 30px;
          li {
            color: #fff;
            font-size: 14px;
            padding-left: 22px;
            &.tel {
              background: url("/images/header/tel.png") no-repeat 0 50%;
            }
            &.email {
              background: url("/images/header/email.png") no-repeat 0 50%;
            }
          }
        }
      }
      .header-top-right {
        dl {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0 10px;
          dt {
            color: #fff;
            font-size: 14px;
          }
          dd {
            ul {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 0 20px;
            }
          }
        }
      }
    }
    .header-bottom {
      height: 90px;
      padding: 0 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0 27px;
          li {
            a {
              color: #666;
              font-size: 14px;
              font-weight: 600;
              &:hover, &:focus, &:active {
                color: #007CFA;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    > div {
      .header-top {
        display: block;
        .header-top-left {
          ul {
            display: block;
            li {
              margin-bottom: 10px;
            }
          }
        }
        .header-top-right {
          dl {
            justify-content: normal;
            dd {
              ul {
                justify-content: normal;
              }
            }
          }
        }
      }
      .header-bottom {
        display: block;
        padding: 0 20px;
        height: auto;
        h1 {
          padding: 20px 0;
          text-align: center;
        }
        nav {
          padding-bottom: 20px;
        }
      }
    }
  }
}
