.section-01 {
  margin-bottom: 150px;
  position: relative;
  background-color: rgba(0,0,0,0.6);
  .first-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 160px;
    left: 50%;
    z-index: 10;
    width: 100%;
    max-width: 1300px;
    transform: translateX(-50%);
    color: #fff;
    &.on {
      opacity: 1;
      visibility: visible;
      transition: all 1s ease-in-out;
    }
    .text-01 {
      margin-bottom: 65px;
      position: relative;
      font-size: 20px;
      &:after {
        position: absolute;
        left: 200px;
        top: 50%;
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: #fff;
        transform: translateY(-50%);
      }
    }
    .text-02 {
      line-height: 70px;
      font-size: 64px;
      font-weight: 600;
    }
  }
  .change-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 160px;
    left: 50%;
    z-index: 10;
    width: 100%;
    max-width: 1300px;
    transform: translateX(-50%);
    color: #fff;
    &.on {
      opacity: 1;
      visibility: visible;
      transition: all 1s ease-in-out;
    }
    > p {
      position: relative;
      font-size: 27px;
      color: #fff;
      line-height: 40px;
    }
  }
}


.news-detail {
   padding-bottom: 150px;
  > .content-detail {
    max-width: 1000px;
    margin: 0 auto;
    .content-detail-header {
      border-bottom: 1px solid #eee;
      margin-bottom: 55px;
      .category {
        font-size: 18px;
        margin-bottom: 10px
      }
      h3 {
        font-size: 48px;
        font-weight: 600;
        color: #333;
        line-height: 60px;
        margin-bottom: 15px;
      }
      .date {
        font-size: 18px;
        line-height: 24px;
        color: #999;
        margin-bottom: 25px;
        font-weight: 600;
      }
    }
    .detail {
      padding-bottom: 65px;
    }
    .title-list {
      margin-bottom: 25px;
      > div {
        padding: 35px 50px;
        box-sizing: border-box;
        span {
          padding-left: 20px;
          margin-right: 50px;
        }
        a {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #666;
        }
        &:first-child {
          display: flex;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          span {
            background: url("/images/common/sub/blog_view_arrow_up.png") no-repeat 0 50%;
          }
        }
        &:last-child {
          display: flex;
          border-bottom: 1px solid #666;
          span {
            background: url("/images/common/sub/blog_view_arrow_down.png") no-repeat 0 50%;
          }
        }
      }
    }
    .btn-box {
      display: flex;
      justify-content: center;
      button {
        border: none;
        padding: 10px 25px;
        font-size: 17px;
        color: #fff;
        font-weight: 400;
        background-color: #444;
        border-radius: 5px;
      }
    }
  }
}
